---
layout: default
navbar: Blog
single: true
---

<div class="row">
  <div class="page-content" itemscope itemtype="http://schema.org/Blog">
    <meta itemprop="name" content="{{site.title}}" />
    {% if site.description %}<meta itemprop="description" content="{{site.description}}" />{% endif %}
    <meta itemprop="url" content="{{site.url}}" />
    <article >
      {% include article.html %}
      <footer >
        {% if page.previous.url or page.next.url %}
          <div class="pager">
            {% if page.previous.url %}
                          
                <a href="{{page.previous.url}}" class="col-xs-12 col-md-4 btn btn-default" title="Previous Post: {{page.previous.title}}"> 
                  <div class="text-muted">
                    <small>Previous Post</small>
                  </div>
                  <div>
                    <h4>{{page.previous.title}}</h4>
                  </div>
                </a>
              
          
            {% endif %}
            {% if page.next.url %}
              
              <a href="{{page.next.url}}" title="Next Post: {{page.next.title}}">
                <div class="pager-title">
                    Next Post
                  <h3>{{page.next.title}}</h3>
                </div>
              </a>            
            {% endif %}
          </div>
        {% endif %}
      </footer>
    </article>
  </div>
</div>
