            <nav>
                <ul class="main">
                    <li>
                        <a href="https://code.andreasheumaier.com">{{ site.title }}</a>
                    </li>
                </ul>
                <ul class="social">
                    {{ if .RSSlink }}
                    <li>
                        <a href="{{ site.subscribe_rss }}" class="fa fa-rss" target="_blank"></a>
                    </li>
                    {{ end }}
                    <li>
                        <a class="fa fa-github" href="https://github.com/aheumaier" target="_blank"></a>
                    </li>
                    <li>
                        <a class="fa fa-twitter" href="https://twitter.com/aheumaier" target="_blank"></a>
                    </li>
                </ul>
            </nav>