{% if index %}
<h2><a href={{ root_url }}{{ post.url }}>{{ post.title }}</a></h2>
<div class="time">
  {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
  {% include post/categories.html %}
</div>
{% else %}
<h2><a href={{ root_url }}{{ post.url }}>{{ page.title }}</a></h2>
<div class="time">
  {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
  {% include post/categories.html %}
</div>
{% endif %}

{% if index %}
<div>{{ content | excerpt }}</div>
{% capture excerpted %}{{ content | has_excerpt }}{% endcapture %} 
{% if excerpted == 'true' %}<a href="{{ root_url }}{{ post.url }}">{{ site.excerpt_link }}</a>{% endif %} 
{% else %}
<div >{{ content }}</div>
{% endif %}